.img {
    height: 300px;
    width: 100px;
}
.h1 {
    color: rgb(238, 146, 226);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    text-align: center;
}
body {
    background-color: rgb(85, 5, 5);
    width:400px;
    margin: auto;
}
a {
    color: rgb(7, 2, 22);
    font-size: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: pink;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;

}
li {
    color: pink;
}
h1 {
    color: rgb(238, 146, 226);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-align: center;
}
.top {
    background-color: blueviolet;
    padding: 30px 10px 30px 10px;
    border: 5px solid #000000;
    margin-bottom: 30px;
}
.bottom {
    background-color: beige;
    padding: 20px 10px 20px 10px;
    margin:30px:
}
